
<div class="title">
    <h1>Blogs |  <%=title%> </h1>
    <p>by Neyha Billing</p>
</div>

<div class="nav">
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
</div>

