<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="404-content">
        <h2>404 error: content not found</h2>
    </div>
</body>

<%- include('./partials/footer.ejs') %> 

</html>