<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
    <div class="title">
        <h1>Blogs |  <%=title%> </h1>
        <p>by Neyha Billing</p>
    </div>
    <div class="nav">
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </div>

    <div class="about-content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea pariatur officiis magnam tenetur animi non repellat id quos! Autem, sit sequi quidem nisi iste incidunt voluptate, qui repellat aliquam eos ducimus cumque quibusdam perferendis molestias voluptatibus laboriosam deleniti nemo eaque placeat exercitationem fugit culpa distinctio. Earum, illum ex harum numquam beatae necessitatibus. Architecto, at iusto minima natus vero inventore explicabo molestias dicta rem voluptatum quo earum similique porro velit illo, quibusdam laboriosam aliquam dolorum. Nobis animi quo a harum magnam nemo similique consequuntur autem accusantium, iusto pariatur architecto soluta impedit quas assumenda corrupti numquam libero nostrum officiis. Repellat, eligendi atque consequatur esse fuga tenetur officiis vitae dolorem laudantium eum error molestias voluptas assumenda corporis delectus corrupti adipisci voluptatibus quibusdam expedita ex ut quidem. Ea vero tenetur nobis, reprehenderit fugiat harum! Nihil omnis vel eius exercitationem aperiam corrupti ut, ipsa, labore hic pariatur facere mollitia quidem. Debitis neque cumque atque ratione!</p>
    </div>
</body>

<%- include('./partials/footer.ejs') %> 

</html>