<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="create-content">
        <h2>Create Blog Content</h2>
        <form action="/add-blog" method="POST">
            <label>Title: </label>
            <input type="text" name = "title">
            <label>Snippet: </label>
            <input type="text" name = "snippet">
            <label>Body: </label>
            <input type="text" name = "body">
            <button type="submit">Create Blog</button>
        </form>
     </div>
</body>

<%- include('./partials/footer.ejs') %> 

</html>