<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="create-content">
        <h2>Create Blog Content</h2>
     </div>
</body>

<%- include('./partials/footer.ejs') %> 

</html>